<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nature.jet.mapper.web.FriendMapper">

    <!--基础 表字段定义 -->
    <sql id="basicColumn">
        linkUrl,sortNum,id,title
    </sql>

    <!-- 查询所有数据 -->
    <select id="list" resultType="Friend" parameterType="java.lang.String">
        SELECT
        <include refid="basicColumn"/>
        FROM web_friend
        <where>
            <if test="key != null and key != ''">
                linkUrl LIKE CONCAT(CONCAT('%',#{key}),'%')
                or title LIKE CONCAT(CONCAT('%',#{key}),'%')
            </if>
        </where>
        ORDER BY sortNum desc,id desc
    </select>

    <!-- 根据ID查询数据 -->
    <select id="findById" resultType="Friend" parameterType="java.lang.Integer">
        SELECT <include refid="basicColumn"></include> FROM web_friend WHERE id = #{id}
    </select>

    <!-- 新建 -->
    <insert id="add" parameterType="Friend" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO web_friend ( linkUrl,sortNum,title ) 
        VALUES ( #{linkUrl},#{sortNum},#{title} ) 
   </insert>

    <!-- 修改-->
    <update id="modify" parameterType="Friend">
        UPDATE web_friend SET linkUrl = #{linkUrl},sortNum = #{sortNum},title = #{title}
        WHERE  id = #{id} 
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM web_friend WHERE  id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM web_friend WHERE id IN
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            ${item}
        </foreach>
    </delete>

</mapper>
