<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nature.jet.mapper.web.UserMapper">

    <!--基础 表字段定义 -->
    <sql id="basicColumn">
        isUse,note,loginName,mobile,loginPass,id,userName
    </sql>

    <!-- 查询所有数据 -->
    <select id="list" resultType="User" parameterType="java.lang.String">
        SELECT
        <include refid="basicColumn"/>
        FROM web_user
        <where>
            <if test="key != null and key != ''">
                note LIKE CONCAT(CONCAT('%',#{key}),'%')
                or loginName LIKE CONCAT(CONCAT('%',#{key}),'%')
                or mobile LIKE CONCAT(CONCAT('%',#{key}),'%')
                or loginPass LIKE CONCAT(CONCAT('%',#{key}),'%')
                or userName LIKE CONCAT(CONCAT('%',#{key}),'%')
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 根据ID查询数据 -->
    <select id="findById" resultType="User" parameterType="java.lang.Integer">
        SELECT <include refid="basicColumn"></include> FROM web_user WHERE id = #{id}
    </select>

    <!-- 新建 -->
    <insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO web_user ( isUse,note,loginName,mobile,loginPass,userName ) 
        VALUES ( #{isUse},#{note},#{loginName},#{mobile},#{loginPass},#{userName} ) 
   </insert>

    <!-- 修改-->
    <update id="modify" parameterType="User">
        UPDATE web_user SET isUse = #{isUse},note = #{note},loginName = #{loginName},mobile = #{mobile},loginPass = #{loginPass},userName = #{userName}
        WHERE  id = #{id} 
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM web_user WHERE  id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM web_user WHERE id IN
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            ${item}
        </foreach>
    </delete>

    <!-- denglu  -->
    <select id="login" resultType="User" parameterType="java.util.Map">
        select
        <include refid="basicColumn"/>
        from web_user where loginName = #{loginName} and loginPass = #{loginPass} and
        isUse = 1
    </select>

</mapper>
