<?xml version="1.0" encoding="UTF-8"?>
<!-- - DispatcherServlet application context for PetClinic's console tier. -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd ">
    <!-- 用注解来实现事务管理 -->
    <tx:annotation-driven transaction-manager="jdbcTransactionManager"/>

    <bean id="c3p0" class="com.alibaba.druid.pool.DruidDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${c3p0.driverClass}"/>
        <property name="url"
                  value="${c3p0.jdbcUrl}"/>
        <property name="username" value="${c3p0.user}"/>
        <property name="password" value="${c3p0.password}"/>
        <property name="initialSize" value="${c3p0.initialPoolSize}"/>
        <property name="minIdle" value="${c3p0.minPoolSize}"/>
        <property name="maxActive" value="${c3p0.maxPoolSize}"/>
    </bean>

    <bean id="jdbcTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="c3p0"/>
    </bean>


    <!-- 创建SqlSessionFactory，同时指定数据源 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="c3p0"/>
        <!-- 加载全局配置文件 -->
        <property name="configLocation" value="classpath:mapper/config/mybatis-config.xml"/>
        <!-- 自动扫描 mapper.xml 配置文件 -->
        <property name="mapperLocations" value="classpath:com/nature/jet/mapper/**/*Mapper.xml"/>
    </bean>

    <!-- Mapper接口所在包名，Spring会自动查找其下的Mapper -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.nature.jet.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>
